<% title "Products" %>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
      
  <% for product in @products %>
    <tr>
      <%= render partial: 'carts/form', :locals => { :product => product } %>
    </tr>
  <% end %>  
</table>